/*
Passei ontem depois da aula e um pouco antes de entregar o trabalho tentando estilizar.
Tive muito problema com as margens dos objetos.
Desculpa pela simplicidade das modificações e falta de comentários :/
*/
html {
    background-color: #4ABDAC;
    font-family: 'Krub', sans-serif;
    text-align: center;
}

header img {
    width: 22.5em;
    height: 22.5em;
}

body {
    margin: 0em;
}

.background-ul {
    background-color: #FC4A1A;
    margin: 0em;
}

.background-ol {
    background-color: #F7B733;
    margin: 0em;
}

ul {
    list-style-type: none; 
}

ol {
    list-style-type: none;
}

footer img {
    width: 1.5em;
    height: 1.5em;
}